button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #4cae4c;
}

button.edit {
    background-color: #f0ad4e;
    margin-top: 0;
}

button.edit:hover {
    background-color: #ec971f;
}
